@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    background-color: rgb(250,249,244);
    color: rgb(53, 47, 42);
  }

  a {
    @apply font-bold underline hover:underline hover:decoration-[#1aad77]
  }
}

@layer components {
  .body-text {
    @apply text-sm
  }

  .page-title {
    @apply font-serif text-5xl
  }

  .fat-link {
    @apply font-serif text-2xl no-underline
  }

  .page-container {
    @apply container mx-auto max-w-[777px] px-4
  }

  .navbar-link {
    @apply text-white no-underline hover:underline hover:decoration-white font-normal
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.post-view p {
  margin-top: 1.5rem;
  line-height: 165%;
}

.post-view blockquote p {
  margin-left: 2rem;
  margin-right: 2rem;
  line-height: 200%;
  font-style: italic;
  font-weight: 300;
  color: rgb(114, 111, 108);
}

.post-view img {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.post-view hr {
  margin-top: 4rem;
  margin-bottom: 4rem;
  max-width: 20rem;
  margin-left: auto;
  margin-right: auto;
}

.post-view ol {
  list-style-type: number;
  padding-left: 2rem;
}

.post-view ol li {
  margin-top: 1rem;
}